<div id="table-location">

</div>
<br/>
<!-- Location where the chart will be added style="height:333px; width:999px; overflow: scroll;"-->
<div id="chart-location" style="height:333px; width:999px; overflow: scroll;">

</div >
<div id="chart-location2" style="height:333px; width:999px; overflow: scroll;">

</div>
<script id="tabular-template" type="text/html">
<h2>Graph Data</h2>
<table class="table table-bordered">
  <thead>
    <tr>

     
    </tr>
  </thead>
  <tbody>
    \{{#each dataset}}
    \{{/each}}

  <tr>
    \{{#each dataset2}}
    \{{/each}}
     
    </tr>
  </tbody>
</table>
</script>
